@model LibraryManagementSystem.Models.BooksIssued

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BooksIssued</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllTheBook.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllTheBook.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IssuedID_PK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
