@model IEnumerable<LibraryManagementSystem.Models.BooksIssued>

@{
    ViewBag.Title = "Index";
}

<h2>Books Issued</h2>

@if (User.IsInRole("Student") || (User.IsInRole("Staff")))
{
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {

                <div class="col-sm-4 ">

                    <div class="card" style="width: 18rem; margin: 5px; padding: 5px; height: 750px;">
                        <div style="height: 10px;">@Html.DisplayFor(modelItem => item.Status)</div>
                        <h5>@Html.DisplayFor(modelItem => item.AllTheBook.Name)</h5>
                        <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.AllTheBook.Image)" height="300" width="200" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-center" style="height: 40px;"> @Html.DisplayFor(modelItem => item.AllTheBook.Author.NameOfAuthor) </h5>
                            <div class="card-text">
                                <p class="text-center" style="height: 30px;">Return Date: @Html.DisplayFor(modelItem => item.ReturnDate)</p>
                                <p class="text-center" style="height: 30px;">@Html.DisplayFor(modelItem => item.AllTheBook.Description)</p>
                                <ul class="text-center" style="height: 70px;">
                                    <li>Print Length: @Html.DisplayFor(modelItem => item.AllTheBook.PrintLength)</li>
                                    <li>Publisher: @Html.DisplayFor(modelItem => item.AllTheBook.Publisher.NameOfPublisher)</li>
                                    <li>Age For:  @Html.DisplayFor(modelItem => item.AllTheBook.InterestedAge)</li>

                                </ul>

                            </div>
                            @*<a href="#" class="btn btn btn-outline-primary">Go somewhere</a>*@
                            <button type="button" class="btn btn-success btn-lg center-block " data-toggle="modal" data-target="#myModal">Details</button>
                            <br />

                            @Html.ActionLink("Return Book", "SeeIfIHaveFine", "BooksIssueds", new { bookId = item.IssuedID_PK }, new { @class = "btn btn-warning btn-lg center-block" })
                            <!-- Modal -->
                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">@Html.DisplayFor(modelItem => item.AllTheBook.Name)</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Some text in the modal.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>

                </div>


            }
        </div>
    </div>
}




@if (User.IsInRole("Administrator"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllTheBook.Name)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Staff.FirstName)*@
                Staff Name
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Student.FirstName)*@
                Student Name
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AllTheBook.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Staff.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.FirstName)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IssuedID_PK }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IssuedID_PK }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IssuedID_PK })
                </td>

            </tr>
        }

    </table>
}