@model IEnumerable<LibraryManagementSystem.Models.Fine>

@{
    ViewBag.Title = "Index";
}

<h2>All the Fines</h2>
@if (User.IsInRole("Administrator"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeverityOfFine)
        </th>
        @if (User.IsInRole("Staff") || (User.IsInRole("Administrator")))
        {
            <th>
                @*@Html.DisplayNameFor(model => model.Staff.FirstName)*@
                First Name
                (Staff)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Staff.FirstName)*@
                Last Name
                (Staff)
            </th>
        }
        @if (User.IsInRole("Student") || (User.IsInRole("Administrator")))
        {
            <th>
                @*@Html.DisplayNameFor(model => model.Student.FirstName)*@
                First Name
                (Student)
            </th>
            <th>

                Last Name
                (Student)
            </th>
        }
        <th>
            @*@Html.DisplayNameFor(model => model.BooksIssued.AllTheBook.Name)*@
            Name of Book
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.BooksIssued.AllTheBook.Name)*@
            Return Date
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeverityOfFine)
        </td>
        @if (User.IsInRole("Staff") || (User.IsInRole("Administrator")))
        {
            <td>
                @Html.DisplayFor(modelItem => item.Staff.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Staff.LastName)
            </td>
        }
        @if (User.IsInRole("Student") || (User.IsInRole("Administrator")))
        {
            <td>
                @Html.DisplayFor(modelItem => item.Student.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.LastName)
            </td>
        }
        <td>
            @Html.DisplayFor(modelItem => item.BooksIssued.AllTheBook.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BooksIssued.ReturnDate)
        </td>
        @if (User.IsInRole("Administrator"))
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.FineID_PK }) |
                @Html.ActionLink("Details", "Details", new { id = item.FineID_PK }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.FineID_PK })
            </td>
        }

    </tr>
    }

</table>
